.bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(249, 249, 249);
}


/* ESSA PARTE REPRESENTA A PRIMEIRA NAV DO SITE */

.nav {
    position: relative;
    width: 100%;
    color: #fff;
    margin-right: 0; /* Certifique-se de que não há margem à direita */
}

.bell1 {
    position: relative;
    height: 25px;
    width: 25px;
    margin-right: 60px;
    margin-left: 60px;
    margin: 20px;
    fill: currentColor; /* Isso permite que a cor do ícone seja definida pelo atributo 'color' */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adiciona transição suave para a cor de fundo e transformação */
    border-radius: 50px;
    float: right;
}

.bell1:hover {
    cursor: pointer;
    background-color: rgba(8, 134, 156, 0.945); /* Define a cor de fundo com transparência */
    transform: scale(1.3); /* Aumenta o tamanho do ícone em 10% */
}

.max1 {
    position: relative;
    height: 25px;
    width: 25px;
    margin-right: 30px;
    margin: 20px;
    fill: currentColor; /* Isso permite que a cor do ícone seja definida pelo atributo 'color' */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adiciona transição suave */
    float: right;
}

.max1:hover {
    cursor: pointer;
    background-color: rgba(8, 134, 156, 0.945); /* Define a cor de fundo com transparência */
    transform: scale(1.3); /* Aumenta o tamanho do ícone em 10% */
}

.profile1 {
    position: relative;
    height: 25px;
    width: 25px;
    margin-right: 30px;
    margin: 20px;
    fill: currentColor; /* Isso permite que a cor do ícone seja definida pelo atributo 'color' */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adiciona transição suave */
    float: right;
}

.profile1:hover {
    cursor: pointer;
    transform: scale(1.3); /* Aumenta o tamanho do ícone em 10% */
    border-radius: 15px;
}

.list1 {
    position: relative;
    height: 35px;
    width: 35px;
    margin-right: 30px;
    margin: 20px;
    fill: currentColor; /* Isso permite que a cor do ícone seja definida pelo atributo 'color' */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adiciona transição suave */
    float: right;
}

.list1:hover {
    cursor: pointer;
    background-color: rgba(8, 134, 156, 0.945); /* Define a cor de fundo com transparência */
    transform: scale(1.3); /* Aumenta o tamanho do ícone em 10% */
    border-radius: 12px;
}

.icon1 {
    position: relative;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    margin-left: 20px;
    margin: 10px;
    border-radius: 10px;
}

.nav .menu {
    position: relative;
    background-color:  rgb(7, 144, 210);
    position: relative;
    width: 100%;
    margin-right: 0; /* Certifique-se de que não há margem à direita */
    display: flex;
    justify-content: space-between; /* Coloca os itens espaçados */
    align-items: center;
}

.nav .menu span {
    font-size: 25px;
    margin: 15px;
}

.nav .menu input.header-search-input {
    flex: 1;
    width: 90%; /* Ajuste o valor conforme necessário */
    max-width: 900px; /* Defina uma largura máxima */
    height: 45px;
    margin: 0 auto;
    padding-right: 30px;
    background-color: rgba(61, 200, 255, 0.877);
    color: black;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}

.nav .menu input.header-search-input:focus {
    background-color: #fff; /* Altera a cor de fundo quando o input está focado */
    border: none;
}

.menu input.header-search-input:hover {
    background-color: rgb(33, 189, 217);
}

.nav .menu .bi-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.header-search-input {
    padding-left: 30px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>');
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 20px 20px;
    fill: #fff; /* Definindo a cor do ícone */
    color: #fff;
    background-color: #fff;
    border: none;
}

/* ESSA PARTE REPRESENTA A SEGUNDA NAV DO SITE, C/ RESPONSIVIDADE */

a {
    font-family: sans-serif;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(249, 249, 249);
    min-width: 150px;
    min-height: 50px;
    box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: flex;
}

.dropdown-content a:hover {background-color: rgb(238, 238, 238)}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}


.header {
    background: rgb(255, 255, 255);
    padding-inline: 16px;
}

.nav2 {
    max-width: 1280px;
    height: 80px;
    margin-inline: 0; /* Alterado para 0 */
    display: flex;
    justify-content: flex-start;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
    transition: transform 0.3s ease; /* Adiciona transição suave */
    background-color: #fff;
}

.nav-list li {
    position: relative; /* Adiciona posição relativa ao elemento pai */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-list a {
    font-size: 14.5px;
    color: rgb(120, 120, 120);
    padding-block: 16px;
    text-decoration: none;
    transition: font-size 0.3s, background-color 0.3s; /* Adiciona transição suave para o tamanho da fonte e a cor de fundo */
    margin-top: 20px;
    font-family: sans-serif;
}

.nav-list svg {
    position: relative;
    height: 15px;
    width: 15px;
    fill: rgb(120, 120, 120);
}

.nav-list .cadastroSVG {
    position: relative;
    top: -25px;
    left: 45px;
}

.nav-list .consultaSVG {
    position: relative;
    top: -25px;
    left: 45px;
}

.nav-list .ferramentasSVG {
    position: relative;
    top: -25px;
    left: 50px;
}

.nav-list .relatoriosSVG {
    position: relative;
    top: -25px;
    left: 45px;
}

.nav-list .integracoesSVG {
    position: relative;
    top: -25px;
    left: 50px;
}

.nav-list a:hover {
    text-decoration: none;
    color: rgb(120, 120, 120);
}

.nav-list button {
    border: none;
    outline: none;
}

.hamburger01 {
    height: 0px;
    width: 0px;
    color: rgb(255, 145, 0);
}

.nav-list button:hover {
    border: none;
    outline: none;
}

.nav-list button::before {
    border: none;
    outline: none;
}

/* Estilos do hamburger fora do @media */

.hamburger::before,
.hamburger::after,
.hamburger-third {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: rgb(7, 144, 210);
    position: relative;
    transition: 0.3s;
    outline: none;
    border: none;
}

.hamburger::before {
    top: 5px; /* Ajuste a posição da primeira linha */
    outline: none;
    border: none;
}

.hamburger::after {
    top: 7px; /* Ajuste a posição da segunda linha */
    outline: none;
    border: none;
}

.hamburger-third {
    top: 9px; /* Ajuste a posição da terceira linha */
    outline: none;
    border: none;
}

.hamburger {
    left: -40px;
    overflow: hidden;
    background: none;
    cursor: pointer;
    z-index: 1;
    outline: none; /* Remove a borda do botão */
    
}

.hamburger:active,
.hamburger:focus,
.hamburger:visited {
    outline: none; /* Remove a borda em diferentes estados */
}

/* Essa parte será sobre os Cards */

.cards h4 {
    top: 15px;
    font-size: 1.4rem;
    color: rgb(120, 120, 120);
    font-family: sans-serif;
    margin: 25px;
}

.card-title {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    color: #333;
    font-family: sans-serif;
}

.about {
    padding: 24px;
    box-shadow: 1px 1px 1px 1px rgba(169, 169, 169);
    margin: 25px;
    border-radius: 5px;
    height: 340px;
    background-color: rgb(255, 255, 255);
}

.about p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-family: sans-serif;
    color: #333;
}

.card-content {
    position: relative;
    background-color: rgb(3, 169, 244);
    font-family: sans-serif;
    color: #fff;
    height: 180px;
    width: 850px;
    box-shadow: 1px 1px 1px 1px rgba(169, 169, 169);
    border-radius: 3px;
}

.card-content2 {
    position: relative;
    top: -180px;
    left: 900px;
    background-color: rgb(3, 169, 244);
    background-image: linear-gradient(to right, rgb(3, 169, 244), rgb(142, 217, 252)); /* Gradiente linear que vai de rgb(254, 91, 97) (vermelho forte) até um branco translúcido */
    font-family: sans-serif;
    color: #fff;
    height: 195px;
    width: 850px;
    box-shadow: 2px 2px 2px 2px rgba(169, 169, 169);
    border-radius: 3px;
}

.card-content2 span {
    position: relative;
    top: 15px;
    left: 15px;
    margin: 15px;
    font-size: 25px;
}

.card-content2 p {
    position: relative;
    font-family: sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin: 15px;
    top: 15px;
    left: 15px;
}

.card-content2 button {
    position: relative;
    top: 40px;
    left: 20px;
    background-color: rgb(254, 91, 97); /* Cor de fallback caso o navegador não suporte gradientes */
    background-image: linear-gradient(to right, rgb(254, 91, 97), rgba(255, 255, 255, 0.5)); /* Gradiente linear que vai de rgb(254, 91, 97) (vermelho forte) até um branco translúcido */
    border: none;
    color: white;
    padding: 6px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px rgb(3, 121, 184);
}

.card-content p {
    position: relative;
    font-family: sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin: 15px;
    top: 15px;
    left: 15px;
}

.card-content a {
    position: relative;
    text-decoration: none;
    font-family: sans-serif;
    color: #f4ff81;
    font-size: 18px;
    justify-content: space-between;
    margin: 10px;
    left: 20px;
    top: 50px;
}

.card-content a:hover {
    text-decoration: none;
    position: relative;
    text-decoration: none;
    font-family: sans-serif;
    color: #f4ff81;
    font-size: 18px;
}

.card-content span {
    position: relative;
    top: 15px;
    left: 15px;
    margin: 15px;
    font-size: 25px;
}

/* Estilos do hamburger dentro do @media */
@media (max-width: 768px) {

    .about {
        height: 720px;
        width: 450px;
        font-size: 15px;
      }

    .card-content {
        height: 250px;
        width: 400px;
    }

    .card-content2 {
        position: relative;
        top: 30px;
        left: -1px;
        height: 250px;
        width: 400px;
    }

    .hamburger01 {
        position: relative;
        left: -5px;
        height: 50px;
        width: 50px;
        color: rgb(7, 144, 210);
        border-radius: 50px;
        cursor: pointer;
    }

    .nav2 {
        max-width: 1280px;
        height: 50px;
        margin-inline: 0; /* Alterado para 0 */
        border-radius: 10px;
    }


/* Estilos do LOGO dentro do @media */

    .nav .menu span {
        font-size: 0px;
        margin: 0px;
    }

    .hamburger:active,
    .hamburger:focus,
    .hamburger:visited {
        outline: none; /* Remove a borda em diferentes estados */
    }

    .hamburger {
        position: relative;
        left: -40px;
        display: block;
        border: none;
        outline: none;
        padding: 10px;
        pointer-events: padding;
        z-index: 9999;
    }

    .hamburger-third {
        top: 7px; /* Ajuste a posição da terceira linha */
        outline: none;
        border: none;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgb(255, 255, 255);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
        z-index: 9998;
    }

    .nav-list a {
        font-size: 20px;
        opacity: 0;
    }

    .nav-list a:hover {
        font-size: 25px;
        background-color: rgb(255, 255, 255);
    }

    .nav-list button {
        border: none;
        outline: none;
    }
    
    .nav-list button:hover {
        border: none;
        outline: none;
    }
    
    .nav-list button::before {
        border: none;
        outline: none;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.1s 0.1s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.1s 0.1s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.1s 0.1s;
    }

    /* Estilos ativos */

    .nav2.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav2.active .nav-list a {
        opacity: 1;
    }

    .nav2.active .hamburger {
        position: relative;
        height: 150px;
        width: 150px;
        top: -100px;
        left: 380px;
        border-top-color: transparent;
        outline: none;
        border: none;
    }

    .nav2.active .hamburger::before {
        transform: rotate(50deg);
        outline: none;
        border: none;
    }

    .nav2.active .hamburger::after {
        transform: rotate(-50deg);
        top: 2px;
        outline: none;
        border: none;
    }

}

/* MEDIA SCREEN MENOR */

@media (max-width: 400px) {

    .hamburger01 {
        position: relative;
        left: -5px;
        height: 50px;
        width: 50px;
        color: rgb(7, 144, 210);
        border-radius: 50px;
        cursor: pointer;
    }

    .nav2 {
        max-width: 1280px;
        height: 50px;
        margin-inline: 0; /* Alterado para 0 */
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
    }

    .nav .menu span {
        font-size: 0px;
        margin: 0px;
    }

    .hamburger:active,
    .hamburger:focus,
    .hamburger:visited {
        outline: none; /* Remove a borda em diferentes estados */
    }

    .hamburger {
        position: relative;
        left: -40px;
        display: block;
        border: none;
        outline: none;
        padding: 10px;
        pointer-events: padding;
    }

    .hamburger-third {
        top: 7px; /* Ajuste a posição da terceira linha */
        outline: none;
        border: none;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgb(255, 255, 255);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a {
        font-size: 20px;
        opacity: 0;
    }

    .nav-list a:hover {
        font-size: 25px;
        background-color: rgb(255, 255, 255);
    }

    .nav-list button {
        border: none;
        outline: none;
    }
    
    .nav-list button:hover {
        border: none;
        outline: none;
    }
    
    .nav-list button::before {
        border: none;
        outline: none;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.1s 0.1s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.1s 0.1s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.1s 0.1s;
    }

    /* Estilos ativos */

    .nav2.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav2.active .nav-list a {
        opacity: 1;
    }

    .nav2.active .hamburger {
        position: relative;
        height: 150px;
        width: 150px;
        top: -100px;
        left: 250px;
        border-top-color: transparent;
        outline: none;
        border: none;
    }

    .nav2.active .hamburger::before {
        transform: rotate(150deg);
        outline: none;
        border: none;
    }

    .nav2.active .hamburger::after {
        transform: rotate(-150deg);
        top: -7px;
        outline: none;
        border: none;
    }

}

@media (max-width: 600px) {

    .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 110px;
    min-height: 100px;
    box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: contents;
}

.dropdown-content a:hover {background-color: transparent}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

    .hamburger01 {
        position: relative;
        left: -5px;
        height: 50px;
        width: 50px;
        color: rgb(7, 144, 210);
        border-radius: 50px;
        cursor: pointer;
    }

    .nav2 {
        max-width: 1280px;
        height: 50px;
        margin-inline: 0; /* Alterado para 0 */
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
    }

    .nav .menu span {
        font-size: 0px;
        margin: 0px;
    }

    .hamburger:active,
    .hamburger:focus,
    .hamburger:visited {
        outline: none;
    }

    .hamburger {
        position: relative;
        left: -40px;
        border: none;
        outline: none;
        padding: 10px;
        pointer-events: padding;
    }

    .hamburger-third {
        top: 7px; /* Ajuste a posição da terceira linha */
        outline: none;
        border: none;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgb(255, 255, 255);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a {
        display: inline;
        position: relative;
        top: 20px;
        left: -10px;
        font-size: 15px;
        opacity: 0;
    }

    .nav-list a:hover {
        font-size: 16px;
        background-color: rgba(167, 167, 167, 0.041);
    }

    .nav-list button {
        border: none;
        outline: none;
    }
    
    .nav-list button:hover {
        border: none;
        outline: none;
    }
    
    .nav-list button::before {
        border: none;
        outline: none;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.1s 0.1s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.1s 0.1s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.1s 0.1s;
    }

    /* Estilos ativos */

    .nav2.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav2.active .nav-list a {
        opacity: 1;
    }

    .nav2.active .hamburger {
        position: relative;
        height: 150px;
        width: 150px;
        top: -130px;
        left: 175px;
        border-top-color: transparent;
        outline: none;
        border: none;
    }

    .nav2.active .hamburger::before {
        transform: rotate(50deg);
    }

    .nav2.active .hamburger::after {
        transform: rotate(-50deg);
        top: 3px;
    }

}